:root {
    --title-text-color:#2E2F42;
    --section-background-color:#2E2F42;
    --main-background-color:#FFFFFF;
    --hover-bcground-color:#404BBF;
    --p-text-color: #434455;
    --btn-normal-bg-color:#4D5AE5;
}
ul {
    text-decoration: none;
    list-style-type: none;
    text-decoration-line: none;
}
body {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 16px;
  }

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
    background:var(--main-background-color);
}
.header_logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
   letter-spacing:0.03em ;
}
.header_logo> .web {
    font-family:'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing:0.03em ;
    color:var(--btn-normal-bg-color);
}
.header_logo> .studio {
    font-family: 'Raleway',sans-serif; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing:0.03em ;
    color:var(--title-text-color);
}

.header_link {
    line-height: 1.33;
    text-decoration:none;
    color:var(--title-text-color);
    cursor: pointer;
}
.header_link:focus,
.header_link:hover {
    color:var(--hover-bcground-color);
}
.header_item>.mail {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.33;
    text-decoration: none;
    color:var(--p-text-color);
}
.header_item>.mail:focus,
.header_item>.mail:hover {
    color:var(--hover-bcground-color);
    }
.header_item>.phone {
    font-weight: 400;
    font-style: normal;
    line-height: 1.33;
    color: var(--p-text-color);
    text-decoration: none;
}
.header_item>.phone:focus,
.header_item>.phone:hover {
    color:var(--hover-bcground-color);
}
.section_title>.main_title {
    background: var(--section-background-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color:var(--main-background-color);
}
.btn_service {
        background:var(--btn-normal-bg-color);
        color:var(--main-background-color);
        font-family: 'Roboto',sans-serif;
        font-weight: 500;    
        font-size: 16px;
        line-height: 1.18; 
        letter-spacing: 0.04em;
        cursor: pointer;
    }
.btn_service:focus,
.btn_service:hover {
 
    background:var(--hover-bcground-color);
}  
.btn_navigate {
    background:var(--main-background-color);
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--btn-normal-bg-color);
    cursor: pointer;
 }
    .btn_navigate:focus,
    .btn_navigate:hover {
        background:var(--hover-bcground-color);
        color:var(--main-background-color);
     }
.item>.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color:var(--title-text-color);
 }
.item>.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color:var(--p-text-color);
}
.section_promo>.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
}
.section_team {
    background: var(--main-background-color);
}
.section_team>.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-text-color);
    }
.work_link {
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color:var(--p-text-color);
}
.basement {
    background:var(--section-background-color);
}
.basement>.text {
    font-size: 16px;
    line-height: 1.5; 
    color:var(--main-background-color);

}
.logo>.web {
font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
color:var(--btn-normal-bg-color);
text-decoration-line: none;
}
.logo>.studio {
font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
color:var(--main-background-color);
text-decoration-line: none;
}
.basement_item>.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color:var(--main-background-color);
}
.header_logo,.logo {
    text-decoration: none;
}