.body {
    font-family: Roboto-600, sans-serif;
   }
*{
list-style-type: none;
}
.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
    background: #FFFFFF;
}
.header_navigation {
}
.header_list {
}
.header_logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
   letter-spacing:0.03em ;
}
.header_logo> .WEB {
    font-family:'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing:0.03em ;
    color: #4D5AE5;
}
.header_logo> .STUDIO {
    font-family: 'Raleway'; 
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing:0.03em ;
    color: #2E2F42;
}
.header_item {
}
.header_link {
    color: font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header_link:focus {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #4D5AE5;
    border-radius: 2px;
}
.header_link:hover {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #4D5AE5; 
    border-radius: 2px; 
}
.header_item>.mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.header_item>.mail:focus {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #4D5AE5;
    }
.header_item>.mail:hover {
    font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #4D5AE5;

}
.header_item>.phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.header_item>.phone:focus {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}
.header_item>.phone:hover {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}
.main {
    }
    .img {
        position: absolute;
 }
   .content {
    position: absolute;
    width: 296px;
    height: 96px; 
    padding: 90px 32px 164px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;

   }
.section_title {
    }
.section_title>.title {
    background: #2E2F42;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.btn_service {
        background: #F4F4FD;
        color:#4D5AE5;
        font-family: 'Roboto';
        font-weight: 600;    
        font-size: 16px;
        line-height: 19px; 
    }
.btn_service:focus {
    color: #FFFFFF;
    background: #4D5AE5;
    font-family: 'Roboto';
    font-weight: 600;    
    font-size: 16px;
    line-height: 19px; 
    letter-spacing: 0.04em;
    cursor: pointer;
}  
.btn_service:hover {
    color: #FFFFFF;
    background: #4D5AE5;
    font-family: 'Roboto';
    font-weight: 600;    
    font-size: 16px;
    line-height: 19px; 
    letter-spacing: 0.04em;
    cursor: pointer;
}  
    .section_slogan {
    }
    .main_links {
    }
.btn_navigate {
    background: #F4F4FD;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
 }
    .btn_navigate:focus {
        background: #4D5AE5;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
     }
    .btn_navigate:hover {
        background: #4D5AE5;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
    }
.item>.title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
 }
.item>.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.section_promo {}
.section_promo>.title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.main_links>.img {
}
.section_team {
    background: #F4F4FD;
}
.section_team>.title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    }
.item>.title {
    font-size: 20px;
    line-height: 24px;                                    
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.item>.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}
.item>.img {
    
}
.work_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;

}
.basement {
    background: #2E2F42;
}
.basement>.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    letter-spacing: 0.02em;
    color: #E7E9FC;

}
.logo>.WEB {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;
color: #4D5AE5;
}
.logo>.STUDIO {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;
color: #F4F4FD;
}