:root {
    --title-text-color:#2E2F42;
    --section-background-color:#2E2F42;
    --main-background-color:#FFFFFF;
}
ul {
    text-decoration: none;
    list-style-type: none;
    text-decoration-line:none;
}
body {
    font-family:'Roboto', sans-serif;
    letter-spacing: 0.02em;
  }

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
    background:var(--main-background-color);
}
.header_navigation {
}
.header_list {
}
.header_logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
   letter-spacing:0.03em ;
}
.header_logo> .web {
    font-family:'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing:0.03em ;
    color: #4D5AE5;
}
.header_logo> .studio {
    font-family: 'Raleway',sans-serif; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing:0.03em ;
    color:var(--title-text-color);
}
.header_item{
}
.header_link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-decoration:none;
    color:var(--title-text-color);
}
.header_link:focus,
.header_link:hover {
    color:  #4D5AE5;
    cursor: pointer;
}
.header_item>.mail {
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
}
.header_item>.mail:focus,
.header_item>.mail:hover {
    color: #4D5AE5;
    }
.header_item>.phone {
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}
.header_item>.phone:focus,
.header_item>.phone:hover {
    color: #4D5AE5;
}
.main {
    }
    .img{
        z-index: -1;
    }
   .content {
    
    position: absolute;
    width: 296px;
    height: 96px; 
    padding: 40px 32px 164px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

    }
.section_title {
    }
.section_title>.title {
    background: var(--section-background-color);
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.btn_service {
        background: #F4F4FD;
        color:#4D5AE5;
        font-family: 'Roboto'sans-serif;
        font-weight: 600;    
        font-size: 16px;
        line-height: 1.18; 
    }
.btn_service:focus,
.btn_service:hover {
 
    background:#4D5AE5;;
  
    cursor: pointer;
}  
    .section_slogan {
    }
    .main_links {
    }
.btn_navigate {
    background: #F4F4FD;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
 }
    .btn_navigate:focus,
    .btn_navigate:hover {
        background: #4D5AE5;
        font-family: 'Roboto'sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
    }
.item>.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
 }
.item>.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section_promo {}
.section_promo>.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.main_links>.img {
}
.section_team {
    background: var(--main-background-color);
}
.section_team>.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    }
.item>.title {
    font-size: 20px;
    line-height: 1.2;                    
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.item>.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.work_link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
}
.basement {
    background:var(--section-background-color);
}
.basement>.text {
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;
    color: #E7E9FC;

}
.logo>.web {
font-family: 'Raleway'sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
color: #4D5AE5;
text-decoration-line: none;
}
.logo>.studio {
font-family: 'Raleway'sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
color: #F4F4FD;
text-decoration-line: none;
}
.basement_item>.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
.header_logo,.logo {
    text-decoration: none;
}